  <turbo-frame id="foreign-key-data-frame">
            
    <dialog id="foreign-key-data" data-controller="dialog" class="w-[800px] m-auto overscroll-y-contain">
        <form method="submit" class="flex flex-row-reverse">
            <button formmethod="dialog" class="cursor-pointer mr-4 mt-2 outline-none"> 
                <%= image_tag "solid_litequeen/icons/x.svg", class: "size-5" %>
            </button>
        </form>
        
        <h1 class="text-lg font-semibold text-center">Foreign Key Reference</h1>
        
        <div class="mx-auto my-4 p-4 max-w-[90%]">
            <table class="min-w-full divide-y divide-gray-200 border">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Column Name
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <% @result.rows.each do |row| %>
                    <% @result.columns.zip(row).each do |column, value| %>
                        <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold"><%= column %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= value&.truncate(80) %></td>
                        </tr>
                    <% end %>
                    <% end %>

                </tbody>
            </table>
        </div>
    </dialog>

</turbo-frame>