<dialog id="table_relationships" data-controller="table-relations" data-relations="<%= @table_relations.to_json %>" class="w-[1200px] h-full m-auto overscroll-y-contain">
   
    <div id="paper" class="m-auto my-10 w-full h-[600px] border rounded"></div>
</dialog>
