<%= console %>
<div>
    hello <%= params[:id] %>


    <p>Tables</p>
    <ul>
        <% @tables.each do |table| %>
            <li><%= table.dig(:name) %> - <%= pluralize(table.dig(:row_count), "Row") %></li>
        <% end %>
    </ul>

</div>